@import 'resets';
@import 'config';
@import 'components';


html {
    overflow-x: hidden;
    
    body{
        background: $secondary-color--light;
        color: $text-color;
        min-height: 100%;
        height: 100vh;
        font-family: sans-serif;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
     }
}

a{
    color: $text-color;
    text-decoration: none;
}

